@import "variables";

.color-page{
  background-color: #F9F9F9;
}

.header {
  height: 35px;
  background-color: $color-basic;
}

.header-authorization {
  margin: 5px 30px 0 0;
  li {
    a {
      color: $white;
      margin-top: 5px;
      font-size: 16px;
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.number {
  margin-top: -2px;
  li {
    color: $color-text;
    font-size: 17px;
    padding: 10px;
    margin-right: 10px;
    }
  }

.feedback {
  margin-right: 50px;
  label {
    font-size: 16px;
    opacity: 0.6;
  }
  input {
    margin-right: -5px;
    @include border;
    padding: 3px;
  }
  button {
    @include border;
    padding: 3px;
    width: 25px;
  }
}

.work-time {
  margin-top: 20px;
  float: left;
  li:last-child {
    font-size: 16px;
    color: $color-text;
  }
}

.undulating {
  background-image: url('/src/basic-pic/undulating.png');
  background-repeat: repeat-x;
  height: 72px;
  ul {
    font-size: 14px;
    margin-top: 25px;
    li {
      a {
        color: $color-text;
        margin-right: 45px;
        font-size: 18px;
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}
